@use 'variaveis' as v;

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    font-family: v.$fonte-base;
    background-color: v.$cor-primaria;
    color: v.$cor-secundaria;
}