@use 'mixins' as m;
@use 'variaveis' as v;

.header {
    @include m.flex-column;
    background-color: v.$cor-roxa;
    color: v.$cor-branca;
}

.layout__main {
    @include m.flex-column;
    padding: v.$padding-main;
    gap: v.$gap-md;
}

.section {
    @include m.flex-column;
    @include m.section-base;
    @include m.card-base
}

.header {
    &__menu {
        display: none;
        justify-content: space-around;
        white-space: nowrap;
        padding-bottom: calc(v.$padding-b / 2);

        &-link {
            background-color: v.$cor-roxa;
            color: v.$cor-branca;
            text-decoration: none;
            font-size: 1.2rem;
        }
    }

    &__menu-item {
        list-style: none;
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
}

.header__menu-ico {
    background-color: v.$cor-roxa;
    @include m.menu-ico;
}

.header__checkbox:checked ~ .header__menu {
    background-color: v.$cor-roxa;
    flex-direction: column;
    padding: v.$padding-sm;
    
}
