@use 'mixins' as m;
@use 'variaveis' as v;

.header {
    @include m.flex;
    background-color: v.$cor-roxa;
    color: v.$cor-branca;
}

.layout__main {
    @include m.flex;
    padding: v.$padding-main;
    gap: v.$gap-md;
}

/*secoes gerais*/
.section {
    @include m.flex;
    @include m.section-base;
    @include m.card-base;

    &__text {
        text-align: v.$t-center;
    }
}

/*menu*/
.header {
    &__menu {
        display: none;
        justify-content: space-around;
        white-space: nowrap;
        padding-bottom: calc(v.$padding-b / 2);

        &-link {
            background-color: v.$cor-roxa;
            color: v.$cor-branca;
            text-decoration: none;
            font-size: 1.2rem;
        }
    }

    &__menu-item {
        list-style: none;
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
}

/*icone para celular*/
.header__menu-ico {
    background-color: v.$cor-roxa;
    @include m.menu-ico;
}

.header__checkbox:checked ~ .header__menu {
    background-color: v.$cor-roxa;
    flex-direction: column;
    padding: v.$padding-sm;
    
}

.servicos {
    @include m.grid (repeat(3, 1fr), auto);
    gap: v.$gap-sm;

    &__titulo {
        text-align: v.$t-center;
        @include m.grid-pos (2, 1);
        gap: v.$gap-md;
    }

    &__subtitulo {
        @include m.grid-pos(#{1 / -1});
        max-width: v.$max-wid;
        margin: (v.$margin-sm - 1) auto;
    }
    
    &__design {
        @include m.texcent;
        @include m.card-base;
        @include m.grid-pos(2, 3);
        padding: calc(v.$padding-b + 3.5%);
    }

    &__desenvolvimento {
        @include m.texcent;
        @include m.card-base;
        @include m.grid-pos(3, 3);
        padding: calc(v.$padding-b + 0.5%);
    }

    &__branding {
        @include m.texcent;
        @include m.card-base;
        @include m.grid-pos(1, 3);
        padding: calc(v.$padding-b + 0.5%);
    }
    
}

.depoimentos {
    &__item {
        padding: v.$padding-card;
        margin-bottom: v.$margin-sm;
        @include m.card-base;
        @include m.texcent;
    }
}

.contatos {
    text-align: v.$t-center;
    @include m.flex;
    gap: v.$gap-sm;
}

.form {
    @include m.flex;
    gap: calc(v.$gap-sm - 0.7rem);
    padding: v.$padding-b;
    background-color: v.$cor-roxa;
    border-radius: v.$radius-base;

    &__label {
        padding-bottom: calc(v.$padding-sm - 0.5rem);
    }

    &__input {
        padding: v.$padding-sm;
        border-radius: v.$radius-base;
    }

    &__textarea {
        padding: v.$padding-md;
        margin-bottom: v.$margin-sm;
        border-radius: v.$radius-base;
    }

    &__btn {
        @include m.btn-base($color: v.$cor-branca, $hover: v.$cor-btn-verde-hover, $active: v.$cor-btn-verde-active);
    }
}