@use 'mixins' as m;
@use 'variaveis' as v;

/*=== CELULAR ===*/
@media (max-width: v.$bp-celular) {
        .header__menu {
            display: none;
            flex-direction: column;
            gap: 10%;
            background-color: v.$cor-branca;
        }

        .header__menu-ico {
            display: block;
        }

        .header__checkbox:checked ~ .header__menu {
            @include m.flex;
        }

        .header__menu-link {
            display: block;
            padding: v.$padding-section;
            border: 2px solid black;
            box-sizing: border-box;
        }

        .servicos {
            @include m.grid(1fr, repeat(5, auto));
            gap: v.$gap-sm;

            &__titulo {
                @include m.grid-pos(1, 1);
                text-align: v.$t-center;
                gap: v.$gap-md;
            }

            &__subtitulo {
                @include m.grid-pos(1, 2);
                text-align: v.$t-center;
                gap: v.$gap-md;
                max-width: v.$max-wid;
                margin: calc(v.$margin-sm - 1rem) auto;
            }

            &__design {
                @include m.card-base;
                @include m.grid-pos(1, 4);
            }

            &__desenvolvimento {
                @include m.card-base;
                @include m.grid-pos(1, 5);
            }

            &__branding {
                @include m.card-base;
                @include m.grid-pos(1, 3);
            }
        }
    
}

/*=== TABLET ===*/
@media (min-width:v.$bp-tablet-min) and (max-width:v.$bp-tablet-max) {
    .header__menu {
        @include m.flex($direction: row);
        justify-content: space-around;
        background-color: v.$cor-roxa;
    }

    .header__menu-ico {
        display: none;
    }

    .servicos {
        @include m.grid(1fr, repeat(5, auto));
        gap: v.$gap-sm;

            &__titulo {
                @include m.grid-pos(1, 1);
                text-align: v.$t-center;
                gap: v.$gap-md;
            }

            &__subtitulo {
                @include m.grid-pos(1, 2);
                text-align: v.$t-center;
                gap: v.$gap-md;
                max-width: v.$max-wid;
                margin: calc(v.$margin-sm - 1rem) auto;
            }

            &__design {
                @include m.card-base;
                @include m.grid-pos(1, 4);
            }

            &__desenvolvimento {
                @include m.card-base;
                @include m.grid-pos(1, 5);
            }

            &__branding {
                @include m.card-base;
                @include m.grid-pos(1, 3);
            }
    }
}

/*=== DESKTOP ===*/
@media (min-width: v.$bp-desktop) {
    .header__menu {
        @include m.flex($direction: row);
    }

    .depoimentos {
        &__lista {
            @include m.flex-jus;
            gap: v.$gap-dt;
            margin-top: v.$margin-td;
            padding: v.$padding-card;
        }

        &__item {
            flex: 1;
            min-width: v.$max-w;
            padding: v.$padding-card;
        }
    }
}
