@use 'mixins' as m;
@use 'variaveis' as v;

@media (max-width: v.$bp-celular) {
        .header__menu {
            display: none;
            flex-direction: column;
            gap: 10%;
            background-color: v.$cor-branca;
        }

        .header__menu-ico {
            display: block;
        }

        .header__checkbox:checked ~ .header__menu {
            @include m.flex;
        }

        .header__menu-link {
            display: block;
            padding: v.$padding-section;
            border: 2px solid black;
            box-sizing: border-box;
        }
    
}

@media (min-width: v.$bp-desktop) {
    .header__menu {
        @include m.flex;
        flex-direction: row;
    }
}
