$fonte-base: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$cor-primaria:  #15064d;
$cor-secundaria: #000;
$cor-roxa: #943ece;
$cor-branca: #fff;

$bp-celular: 480px;
$bp-tablet-min: 481px;
$bp-tablet-max: 1023px;
$bp-desktop: 1024px;

$radius-base: 1rem;
$border-base: 3px solid;

$cor-btn-verde-hover: aqua;
$cor-btn-verde-active: rgb(29, 99, 2);

$gap-sm: 1rem;
$gap-md: 2rem;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-card: 20px;
$padding-section: 15px 20px;
$padding-main: 5%;
$padding-b: 10%;

$margin-sm: 1rem;